.odd {
    background-color: rgb(226, 140, 154);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#second {
    color: rgb(10, 10, 238);
    font-size: 36px;
}

.odd.three {
    font-size: 24px;
}

#fourth {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}