@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*SOLUTION*/

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.footer,  .header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.footer a {
  color: gray;
}

.header a {
  color: black;
}

.footer {
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

.content {
  margin: auto;
}

.buttons, .input {
  text-align: center;
}

button {
  padding: 15px;
}

.input {
  margin: 10px 0;
}