body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/*SOLUTION*/

.header {
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle-container {
  flex: 1;
  display: flex;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px;
  gap: 25px;
}

.card {
  flex: 0 1 30%;
  padding: 15px;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

li a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
}

ul {
  margin: 0;
  padding: 0
}